/* --- General --- */
/* Set the margins, the padding and the size (height x width) of the page. */
body {
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Set the height, the background colour, the padding and the font size of the application. Also set the application to display as a 
grid and set the frames. */
.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  padding: 13px;
  background-color: #209cee;
  font-size: 15px;
}

/* --- Home ---*/
/* Set for the home's container to display as grid and set the columns. */
#homecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Set the left margin and padding of the home image container. */
#homeimagecontainer {
  margin-left: 20px;
  padding: 5px;
}

/* --- Authentication --- */
/* Set for the auth */
#authpagecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Set the auth form to appear as flex in a column direction and set the content and text alignment, left margin and width. */
#authcontainer {
  display: flex;
  flex-direction: column;
  width: 400px !important;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  text-align: center;
}

/* Set the font colour, padding, bottom margin and the border (styled, coloured and sized) of the auth page's header. Also implemented a drop-shadow 
filter do give the icon a 3D and defined look.*/
#authheader {
  padding: 20px;
  margin-bottom: 30px;
  color: #943dfd;
  font-weight: bold;
  border-top: 3px dashed #ffffff;
  border-bottom: 3px dashed #ffffff;
  filter: drop-shadow(1px 2px 2px #000000);
}

/* Set the top and left margin, as well as the font weight of the auth labels. */
.authlabels {
  margin-top: 10px;
  margin-left: -35px;
  font-weight: bold;
}

/* Set the left, top and bottom margins, font size, width, padding, and border (styled, coloured, sized and radius added). */
.authinput {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -35px;
  width: 300px;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: "16px";
}

/* Set for the authentication buttons' container to display as grid and set the columns. */
#authbuttoncontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 45px;
}

/* Set the top and left padding and font weight and alignment of the auth buttons' header. */
#authbuttonheader {
  padding-top: 44px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

/* Set the width, padding, the right margin, background and font colors, font weight and added a border (styled, sized, colored added) of the 
auth buttons. */
.authbutton {
  width: 117px;
  padding: 10px !important;
  margin-left: -35px;
  margin-right: 10px;
  margin-top: 30px;
  border: 2px solid #ffffff !important;
  background-color: transparent !important;
  color: #ffffff;
  font-weight: bolder !important;
}

/* Set for the auth buttons to change font color and background color once hovered over. */
.authbutton:hover {
  color: #a861ff !important;
  background-color: #ffffffa9 !important;
}

/* Set the position of the sign-out button to absolute and aligned it to the top-right corner. */
.signout {
  position: absolute;
  top: 0%;
  left: 90%;
}

/* Set the border (styled, coloured and sized), the font weight and the background and font colour of the authentication modal's buttons. */
.authmodalbutton {
  border: 2px solid #000000 !important;
  background-color: transparent !important;
  color: #000000 !important;
  font-weight: bold !important;
}

/* Set for the auth buttons to change font and background color once hovered over. */
.authmodalbutton:hover {
  background-color: #b4def9 !important;
  color: #a861ff !important;
}

/* Set the bottom margin for the modal's password input. */
.password {
  margin-bottom: 10px !important;
}

/* --- CompiledTodo --- */
/* Set the width and the left-side padding of the logo image's container. */
#imagecontainer {
  width: 50%;
  padding-left: 15px;
}

/* Set the height of the logo image. */
img {
  height: 590px;
}

/* Set the size (height x width), the left margin, the padding, the border radius and the background colour of the application's to-do 
list section. */
.todo-list {
  min-height: 580px;
  height: auto;
  width: 500px;
  padding: 5px;
  margin-left: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

/* Set the text alignment to center, the top and bottom padding and borders. */
h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px dashed #209cee;
  border-bottom: 2px dashed #209cee;
}

/* Set the content justification to have a space in between, set the bottom margin, the padding, the background colour, the item alignment, 
the border radius and the font weight. I also added a box shadow (sizes and colour set). */
.todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #00000026;
  font-weight: bold;
}

/* Set for the table rows' background colours to change once hoeverd over. */
tr:hover {
  background-color: #b4def9;
}

/* Set the padding, background color and text alignment of the table headers. */
th {
  padding: 5px;
  background-color: #a861ff;
  text-align: left;
}

/* Set the created and due date's headers' width. */
.thdate {
  width: 30%;
}

/* Set the todo header's width. */
#thtodo {
  width: 70%;
}

/* Set the left padding of the table data cells. */
td {
  padding-left: 5px;
}

/* Set the background color of the action icons' table data cells. */
.tdactions {
  background-color: #ffffff;
}

/* Set the font weight of the todo text to bold. */
.todotext {
  font-weight: bold;
}

/* Set the bottom margin of h5 headers. */
h5 {
  margin-bottom: 5px;
}

/* Set the top margin of the due date's header. */
#dueheader {
  margin-top: 10px;
}

/* Set the top margin of the todo form. */
#todoform {
  margin-top: 10px;
}

/* Set the size (height x width) and the top margin of the input area. */
.input {
  height: 35px;
  width: 98%;
  border-radius: 5px;
  padding-left: 5px;
}

/* Set for the date picker's "input section" to display as a block and set the width. */
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 99%;
}

/* Set the top margin, the padding, the border radius, the background colour and the font weight and size. */
#submitbutton {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #a861ff;
}

/* Set the left margin of the "complete" and "remove" buttons/ icons. */
#completebutton,
#removebutton {
  margin-left: 5px;
}

/* Set for the background colour, the cursor and the font weight and size to change once the "submit" button is hovered over. */
#submitbutton:hover {
  background-color: #ffb020;
  font-weight: bolder;
  font-size: 17px;
  cursor: pointer;
}

/* Set for the font colour and cursor to change once the "remove" button/ icon is hovered over. */
.fa-trash-alt:hover {
  color: #ff0000;
  cursor: pointer;
}

/* Set the border radius and padding to display a round popup. */
.swal2-popup {
  border-radius: 50% !important;
  padding: 100px 20px !important;
}

/* Set the font size and the bottom margin of the popup's title. */
.swal2-title {
  font-size: 25px !important;
  margin-bottom: 5px !important;
}

/* Set the padding, margins and the width of the popup's container. */
.swal2-html-container {
  padding: 0 !important;
  margin: 0 auto !important;
  width: 350px !important;
}

/* Set the left and right margins, as well as the font size of the popup's close button. */
.swal2-close {
  margin-right: 78px !important;
  margin-top: -20px !important;
  font-size: 30px !important;
}

/* Set for the popup's close button to rotate over a 4 second interval, infinitely if hovered over. Set for the icon to be rotated on the 50% 
axis and to rotate 720 degrees. */
.swal2-close:hover {
  animation: closerotate 4s infinite;
}

@keyframes closerotate {
  50% {
    transform: rotate(720deg) !important;
  }
}

/* Set the width and the margins of the pop-up's button container. */
.swal2-actions {
  width: 200px !important;
  margin: 20px auto 0px !important;
}
